<div class="vertical-menu">
  <div data-simplebar class="h-100">
    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <!--  <li class="menu-title">Admin</li> -->

        <li>
          <a [routerLink]="['/dashboard']" class="waves-effect">
            <!-- <span class="badge rounded-pill bg-primary float-end">20+</span> -->
            <i class="mdi mdi-view-dashboard"></i>
            <span> Trang chủ </span>
          </a>
        </li>

        <li>
          <a [routerLink]="['/manage-products-group']" class="waves-effect">
            <i class="mdi mdi-package-variant"></i>
            <span> Nhóm sản phẩm </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/manage-categories']" class="waves-effect">
            <i class="mdi mdi-package-variant-closed"></i>
            <span> Loại sản phẩm </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/manage-product-brand']" class="waves-effect">
            <i class="mdi mdi-credit-card-multiple"></i>
            <span> Hãng sản phẩm </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/manage-products']" class="waves-effect">
            <i class="mdi mdi-cart-outline"></i>
            <span> Sản phẩm </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/manage-orders']" class="waves-effect">
            <i class="mdi mdi-cash-multiple"></i>
            <span> Hóa đơn </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/manage-users']" class="waves-effect">
            <i class="mdi mdi-account-convert"></i>
            <span> Người dùng </span>
          </a>
        </li>
        <li>
          <a [routerLink]="['/manage-blogs']" class="waves-effect">
            <i class="mdi mdi-notification-clear-all"></i>
            <span> Tin tức </span>
          </a>
        </li>
        <!-- <li>
          <a (click)="onLogOut()" class="waves-effect">
            <i class="mdi mdi-logout"></i>
            <span> Đăng xuất </span>
          </a>
        </li> -->
        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect">
            <i class="mdi mdi-database"></i>
            <span> Thống kê </span>
          </a>
          <ul class="sub-menu" aria-expanded="false">
            <li>
              <a [routerLink]="['/manage-best-selling']" class="waves-effect"
                ><i class="mdi mdi-truck-fast"></i>Sản phẩm bán chạy</a
              >
            </li>
            <li>
              <a [routerLink]="['/manage-amount']" class="waves-effect"
                ><i class="mdi mdi-hexagon-multiple"></i>Số lượng</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a (click)="onLogOut()" class="waves-effect">
            <i class="mdi mdi-logout"></i>
            <span> Đăng xuất </span>
          </a>
        </li>

        <!-- <li>
                    <a href="javascript: void(0);" class="has-arrow waves-effect">
                        <i class="mdi mdi-email-outline"></i>
                        <span> Email </span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="email-inbox.html">Inbox</a></li>
                        <li><a href="email-read.html">Email Read</a></li>
                        <li><a href="email-compose.html">Email Compose</a></li>
                    </ul>
                </li> -->
      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
