<div id="amount">
  <div class="top d-flex justify-content-between">
    <h2>Biểu đồ số lượng</h2>
    <button class="btn btn-success btn-block" (click)="openPDF()">
      Download PDF
    </button>
  </div>
  <!-- <div class="col-md-4 text-right">
    <button class="btn btn-success btn-block" (click)="openPDF()">
      Download PDF
    </button>
  </div> -->
  <div class="ml-5">
    <p-panel [style]="{'width': '40%'}">
      <p-chart type="pie" [data]="data"></p-chart>
    </p-panel>
  </div>
</div>
