<div class="top d-flex justify-content-between">
  <h2>Danh sách sản phẩm</h2>
  <div class="right">
    <!-- <button class="btnX" pButton type="button" (click)="showAdd()" lable="Thêm"></button> -->
    <p-button
      (click)="showAdd()"
      icon="pi pi-plus"
      label="Thêm"
      style="margin-right: 5px;"
    ></p-button>

    <p-button
      (click)="exportExcel()"
      icon="pi pi-external-link"
      label="Export data"
    ></p-button>
  </div>
</div>
<div class="bot">
  <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
    <form
      class="form-horizontal"
      role="form"
      [formGroup]="formsearch"
      (ngSubmit)="search()"
    >
      <div class="form-group">
        <label class="col-sm-1 control-label no-padding-right">
          Tên sản phẩm
        </label>
        <div class="col-sm-11 my-2">
          <input
            formControlName="tenSanPham"
            class="form-control p-2"
            type="text"
            placeholder="Tên sản phẩm"
          />
        </div>
      </div>
      <div class="form-group">
        <!-- <label class="col-sm-1 control-label no-padding-right"></label> -->
        <div class="col-sm-11">
          <button
            (click)="search()"
            class="btn btn-sm btn-primary font-size-16 mt-2"
            style="padding: 6px 12px;"
          >
            Tìm kiếm
          </button>
        </div>
      </div>
    </form>
    <!-- Start Sort Select Option -->
    <div
      class="sort-select-list d-flex align-items-center mt-3 justify-content-end"
    >
      <div class="d-flex" style="margin-right: auto;">
        <label class="mx-2 d-flex align-items-center">Hiển thị:</label>
        <fieldset>
          <select
            class="form-control"
            [(ngModel)]="pageSize"
            (ngModelChange)="loadPage(1)"
          >
            <option selected value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="20">50</option>
            <option value="{{totalItems}}">All</option>
          </select>
        </fieldset>
      </div>
      <button class="btn btn-success btn-block" (click)="openPDF()">
        Download PDF
      </button>
    </div>
    <!-- End Sort Select Option -->
    <!-- <div class="col-md-4 text-right">
        <button class="btn btn-success btn-block" (click)="openPDF()">
          Download PDF
        </button>
      </div> -->
  </p-panel>

  <p-table
    id="product"
    selectionMode="single"
    [value]="products"
    styleClass="p-datatable-gridlines"
    [style]="{'margin-top': '1rem', 'width': '100%'}"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>STT</th>
        <th>Tên sản phẩm</th>
        <th>Loại</th>
        <th>Hãng</th>
        <th>Xuất xứ</th>
        <th>Bảo hành</th>
        <th>Màu sắc</th>
        <th>Giá bán</th>
        <th>Mô tả</th>
        <th>Hình ảnh</th>
        <!--  <th>Thao tác</th> -->
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-product
      let-i="rowIndex"
      let-expanded="expanded"
    >
      <tr>
        <td>{{i+1}}</td>
        <td>{{product.tenSanPham}}</td>
        <td>{{product.tenLoai}}</td>
        <td>{{product.tenHang}}</td>
        <td>{{product.xuatXu}}</td>
        <td>{{product.baoHanh}}</td>
        <td>{{product.mauSac}}</td>
        <td style="color: red; font-weight: bold;">
          {{product.giaBan | currency: "VND"}}
        </td>
        <td [innerHtml]="product.moTa"></td>
        <td>
          <img
            src="./../../../../assets/images/products/home-1/{{product.anh}}"
            width="150px"
            height="100px"
            alt=""
          />
        </td>
        <!--  <td>
          <button
            pButton
            type="button"
            (click)="edit(product)"
            title="Sửa"
            class="btn btn-sm btn-primary"
            style="margin-right: 5px;"
          >
            <i class="fas fa-edit"></i>
          </button>
          <button
            pButton
            type="button"
            (click)="delete(product.maSanPham)"
            title="Xóa"
            class="p-button-danger"
          >
            <i class="fas fa-trash"></i>
          </button>
        </td> -->
      </tr>
    </ng-template>
  </p-table>
  <div class="mt-5 d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [pageSize]="pageSize"
      [(page)]="page"
      [maxSize]="10"
      [rotate]="true"
      (pageChange)="loadPage($event)"
    ></ngb-pagination>
  </div>
</div>

<!-- Add -->
<p-dialog
  [(visible)]="displayAdd"
  [style]="{width: '35vw'}"
  [dismissableMask]="true"
  [modal]="true"
>
  <form (ngSubmit)="AddNewProduct(form)" #form="ngForm">
    <h3>Thêm sản phẩm</h3>
    <div style="width: 100%;">
      <input type="hidden" name="maSanPham" ngModel #maSanPham="ngModel" />
      <label style="font-weight: bold;">Tên sản phẩm:</label>
      <input
        type="text"
        class="form-control my-1"
        name="tenSanPham"
        ngModel
        #tenSanPham="ngModel"
        placeholder="Tên sản phẩm"
      />
      <label style="font-weight: bold;">Loại sản phẩm:</label>
      <p-dropdown
        class="form-control my-1"
        [options]="categories"
        [(ngModel)]="selectedCategory"
        placeholder="Chọn loại sản phẩm"
        optionLabel="tenLoai"
        optionValue="maLoai"
        [showClear]="true"
        name="maLoai"
        ngModel
        #maLoai="ngModel"
        [style]="{'width':'100%'}"
      ></p-dropdown>
      <label style="font-weight: bold;">Hãng sản phẩm:</label>
      <p-dropdown
        class="form-control my-1"
        [options]="brands"
        [(ngModel)]="selectedBrand"
        placeholder="Chọn hãng sản phẩm"
        optionLabel="tenHang"
        optionValue="maHang"
        [showClear]="true"
        name="maHang"
        ngModel
        #maHang="ngModel"
        [style]="{'width':'100%'}"
      ></p-dropdown>
      <label style="font-weight: bold;">Xuất xứ:</label>
      <input
        type="text"
        class="form-control my-1"
        placeholder="Xuất xứ"
        name="xuatXu"
        ngModel
        #xuatXu="ngModel"
      />
      <label style="font-weight: bold;">Bảo hành:</label>
      <input
        type="text"
        class="form-control my-1"
        placeholder="Bảo hành"
        name="baoHanh"
        ngModel
        #baoHanh="ngModel"
      />
      <label style="font-weight: bold;">Màu sắc:</label>
      <input
        type="text"
        class="form-control my-1"
        placeholder="Màu sắc"
        name="mauSac"
        ngModel
        #mauSac="ngModel"
      />
      <label style="font-weight: bold;">Giá bán:</label>
      <input
        type="number"
        class="form-control my-1"
        placeholder="Giá bán"
        name="giaBan"
        ngModel
        #giaBan="ngModel"
      />
      <label style="font-weight: bold; font-size: 16px;">Mô tả:</label>
      <p-editor
        [style]="{'height':'200px'}"
        name="moTa"
        ngModel
        #moTa="ngModel"
      ></p-editor>
      <label style="font-weight: bold;">Hình ảnh:</label>
      <input
        type="file"
        class="form-control my-1"
        (change)="onChange($event)"
        name="Anh"
        ngModel
        #Anh="ngModel"
      />
      <!-- <img [src]="image" style="max-height:200px;"> -->
      <div class="mt-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-success btn-lg btn-block">
          Thêm
        </button>
        <!--  <button
            type="button"
            (click)="displayAdd=false"
            class="btn btn-danger btn-lg btn-block"
          >
            Huỷ
          </button> -->
      </div>
    </div>
  </form>
</p-dialog>

<p-dialog
  [(visible)]="isEdit"
  [style]="{width: '35vw'}"
  [dismissableMask]="true"
  [modal]="true"
>
  <!-- Content -->
  <form (ngSubmit)="SaveData()" #form="ngForm">
    <h3>Sửa thông tin sản phẩm</h3>

    <div style="width: 100%;">
      <label style="font-weight: bold;">Tên sản phẩm:</label>
      <input
        type="text"
        class="form-control my-1"
        [(ngModel)]="product.tenSanPham"
        name="tenSanPham"
        placeholder="Tên sản phẩm"
      />
      <label style="font-weight: bold;">Loại sản phẩm:</label>
      <p-dropdown
        class="form-control my-1"
        [options]="categories"
        [(ngModel)]="selectedCategory"
        placeholder="Chọn loại sản phẩm"
        optionLabel="tenLoai"
        optionValue="maLoai"
        [showClear]="true"
        name="maLoai"
        ngModel
        #maLoai="ngModel"
        [(ngModel)]="product.maLoai"
        [style]="{'width':'100%'}"
      ></p-dropdown>
      <label style="font-weight: bold;">Hãng sản phẩm:</label>
      <p-dropdown
        class="form-control my-1"
        [options]="brands"
        [(ngModel)]="selectedBrand"
        placeholder="Chọn hãng sản phẩm"
        optionLabel="tenHang"
        optionValue="maHang"
        [showClear]="true"
        name="maHang"
        ngModel
        #maHang="ngModel"
        [(ngModel)]="product.maHang"
        [style]="{'width':'100%'}"
      ></p-dropdown>
      <label style="font-weight: bold;">Xuất xứ:</label>
      <input
        type="text"
        class="form-control my-1"
        [(ngModel)]="product.xuatXu"
        placeholder="Xuất xứ"
        name="xuatXu"
        ngModel
        #xuatXu="ngModel"
      />
      <label style="font-weight: bold;">Bảo hành:</label>
      <input
        type="text"
        class="form-control my-1"
        placeholder="Bảo hành"
        name="baoHanh"
        ngModel
        #baoHanh="ngModel"
        [(ngModel)]="product.baoHanh"
      />
      <label style="font-weight: bold;">Màu sắc:</label>
      <input
        type="text"
        class="form-control my-1"
        placeholder="Màu sắc"
        name="mauSac"
        ngModel
        #mauSac="ngModel"
        [(ngModel)]="product.mauSac"
      />
      <label style="font-weight: bold;">Giá bán:</label>
      <input
        type="number"
        class="form-control my-1"
        placeholder="Giá bán"
        name="giaBan"
        ngModel
        #giaBan="ngModel"
        [(ngModel)]="product.giaBan"
      />
      <label style="font-weight: bold;">Mô tả:</label>
      <p-editor
        [style]="{'height':'200px', 'font-size': '16px'}"
        name="moTa"
        ngModel
        #moTa="ngModel"
        [(ngModel)]="product.moTa"
        class="my-1"
      ></p-editor>
      <label style="font-weight: bold;">Hình ảnh:</label>
      <div>
        <img
          ng-if="anh"
          src="../../../../assets/images/img/{{product.anh}}"
          style="width: 150px; height: 100px; margin-right: 10px;"
        />
        <input
          type="file"
          class="form-control my-1"
          (change)="onChange($event)"
          name="Anh"
          ngModel
          #Anh="ngModel"
        />
      </div>
      <div class="mt-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-success btn-lg btn-block">
          Cập nhật
        </button>
        <!--  <button
            type="button"
            (click)="displayAdd=false"
            class="btn btn-danger btn-lg btn-block"
          >
            Huỷ
          </button> -->
      </div>
    </div>
  </form>
</p-dialog>
