<div class="top d-flex justify-content-between">
  <h2>Danh sách nhóm sản phẩm</h2>
  <div class="right">
    <!-- <button class="btnX" pButton type="button" (click)="showAdd()" lable="Thêm"></button> -->
    <p-button
      style="margin-right: 5px;"
      (click)="showAdd()"
      icon="pi pi-plus"
      label="Thêm"
    ></p-button>

    <p-button
      (click)="exportExcel()"
      icon="pi pi-external-link"
      label="Xuất dữ liệu"
    ></p-button>
  </div>
</div>
<div class="bot">
  <p-panel header="Tìm kiếm" [style]="{'margin-top': '2px'}">
    <form
      class="form-horizontal"
      role="form"
      [formGroup]="formsearch"
      (ngSubmit)="search()"
    >
      <div class="form-group">
        <label class="col-sm-1 control-label no-padding-right">
          Tên nhóm
        </label>
        <div class="col-sm-11 my-2">
          <input
            formControlName="tenNhom"
            class="form-control p-2"
            type="text"
            placeholder="Tên nhóm..."
          />
        </div>
      </div>
      <div class="form-group">
        <!-- <label class="col-sm-1 control-label no-padding-right"></label> -->
        <div class="col-sm-11">
          <button
            (click)="search()"
            class="btn btn-sm btn-primary font-size-16 mt-2"
            style="padding: 6px 12px;"
          >
            Tìm kiếm
          </button>
        </div>
      </div>
    </form>
    <!-- Start Sort Select Option -->
    <div
      class="sort-select-list d-flex align-items-center mt-3 justify-content-end"
    >
      <div class="d-flex" style="margin-right: auto;">
        <label class="mx-2 d-flex align-items-center">Hiển thị:</label>
        <fieldset>
          <select
            class="form-control"
            [(ngModel)]="pageSize"
            (ngModelChange)="loadPage(1)"
          >
            <option selected value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="20">50</option>
            <option value="{{totalItems}}">All</option>
          </select>
        </fieldset>
      </div>
      <button class="btn btn-success btn-block" (click)="openPDF()">
        Download PDF
      </button>
    </div>
    <!-- End Sort Select Option -->
    <!-- <div class="col-md-4 text-right">
      <button class="btn btn-success btn-block" (click)="openPDF()">
        Download PDF
      </button>
    </div> -->
  </p-panel>
  <p-table
    id="product_group"
    selectionMode="single"
    [value]="products_group"
    styleClass="p-datatable-gridlines"
    [style]="{'margin-top': '1rem', 'width': '100%'}"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>STT</th>
        <th>Mã nhóm</th>
        <th>Tên nhóm</th>
        <th>Mô tả</th>
        <th>Thao tác</th>
      </tr>
    </ng-template>
    <ng-template
      pTemplate="body"
      let-product
      let-i="rowIndex"
      let-expanded="expanded"
    >
      <tr>
        <td>{{i+1}}</td>
        <td>{{product.maNhom}}</td>
        <td>{{product.tenNhom}}</td>
        <td [innerHtml]="product.moTa"></td>
        <td>
          <button
            pButton
            type="button"
            (click)="edit(product)"
            title="Sửa"
            class="btn btn-sm btn-primary"
            style="margin-right: 5px;"
          >
            <i class="fas fa-edit"></i>
          </button>
          <!--  <button
            pButton
            type="button"
            (click)="remove(product.maNhom)"
            title="Xóa"
            class="p-button-danger"
          >
            <i class="fas fa-trash"></i>
          </button> -->
        </td>
      </tr>
    </ng-template>
  </p-table>
  <div class="mt-5 d-flex justify-content-center">
    <ngb-pagination
      [collectionSize]="totalItems"
      [pageSize]="pageSize"
      [(page)]="page"
      [maxSize]="10"
      [rotate]="true"
      (pageChange)="loadPage($event)"
    ></ngb-pagination>
  </div>
</div>

<!-- Add -->
<p-dialog
  [(visible)]="displayAdd"
  [style]="{width: '30vw'}"
  [dismissableMask]="true"
  [modal]="true"
>
  <form (ngSubmit)="AddNew(form)" #form="ngForm">
    <h3>Thêm nhóm sản phẩm</h3>
    <div style="width: 100%;">
      <input type="hidden" name="maNhom" ngModel #maNhom="ngModel" />
      <label style="font-weight: bold;">Tên nhóm:</label>
      <input
        type="text"
        class="form-control my-2"
        name="tenNhom"
        ngModel
        #tenNhom="ngModel"
        placeholder="Tên nhóm..."
      />
      <label style="font-weight: bold;">Mô tả:</label>
      <p-editor
        [style]="{'height':'320px'}"
        name="moTa"
        ngModel
        class="my-2"
        #moTa="ngModel"
      ></p-editor>
      <div class="mt-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-success btn-lg btn-block">
          Thêm
        </button>
        <!--  <button
          type="button"
          (click)="displayAdd=false"
          class="btn btn-danger btn-lg btn-block"
        >
          Huỷ
        </button> -->
      </div>
    </div>
  </form>
</p-dialog>
<!-- Edit -->
<p-dialog
  [(visible)]="isEdit"
  [style]="{width: '30vw'}"
  [dismissableMask]="true"
  [modal]="true"
>
  <form action="" (ngSubmit)="SaveData()" #form="ngForm">
    <h3>Sửa nhóm sản phẩm</h3>
    <div style="width: 100%;">
      <label style="font-weight: bold;">Tên nhóm:</label>
      <input
        type="text"
        class="form-control my-2"
        placeholder="Tên nhóm..."
        [(ngModel)]="product_group.tenNhom"
        name="tenNhom"
      />
      <label style="font-weight: bold;">Mô tả:</label>
      <p-editor
        [style]="{'height':'320px','font-size':'15px'}"
        name="moTa"
        ngModel
        class="my-2"
        #moTa="ngModel"
        [(ngModel)]="product_group.moTa"
      ></p-editor>
      <div class="mt-3 d-flex justify-content-end">
        <button type="submit" class="btn btn-success btn-lg btn-block">
          Cập nhật
        </button>
        <!--  <button
          type="button"
          (click)="isEdit=false"
          class="btn btn-danger btn-lg btn-block"
        >
          Huỷ
        </button> -->
      </div>
    </div>
  </form>
</p-dialog>
